/*
 media queries 

@media(max-width:768px)
{

    html{
        scroll-padding-top: 0;

    }
    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display: none;
    }
    .bottom-navbar{
        display: block;
    }
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
    .header .header-1 .search-form.active{
        top: 115%;
    }
    #search-btn{
        display: inline-block;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}*/
header .navbar-1 .block-1 a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

header .navbar-1 .block-1 i {
  color: green;
}

header .navbar-1 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.input {
  border: 0.1px solid rgb(230, 240, 239);
  padding: 5px 5px;
}

.input input {
  border: none;
  width: 400px;
  font-size: 15px;
}

.icons a {
  text-decoration: none;
  color: black;
  width: 50px;
}

.navbar-2 {
  background-color: #219150;
  padding: 20px;
  text-align: center;
}

.navbar-2 a {
  font-size: larger;
  color: white;
  text-decoration: none;
  padding-left: 50px;
}

.reading,
.about-bookstore,
footer {
  background-color: azure;
  padding: 20px 0;
}

.reading .block-one h2 {
  color: green;
}

.reading .block-one h1 {
  font-size: 70px;
}

.book-categories .heading {
  text-align: center;
}

.book {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px 0;
}

.book .block {
  width: 330px;
  text-align: center;
}

.book .block img {
  height: 250px;
}

.more-book {
  padding: 5px 0;
  text-align: center;
  background-color: blue;
  border: 0.1px solid black;
  border-radius: 20px;
}

.more-book a {
  text-decoration: none;
  color: aliceblue;
  padding-right: 5px;
}

.more-book:hover {
  background-color: white;
  cursor: pointer;
}

.about-bookstore,
.feedback {
  margin: 50px 0;
}

.block {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

.about-bookstore .block img {
  height: 450px;
}

.about {
  width: 400px;
}

.read-more {
  background-color: green;
  border-radius: 20px;
  width: 100px;
  padding: 10px;
}

.read-more a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.feedback .block-one {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  justify-content: space-evenly;
}

.feedback input {
  padding: 10px 5px;
}

#third {
  height: 250px;
}

footer .icon {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 400px;
  font-size: 30px;
}
